.jumbotron {
            width: 600px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .table {
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
        }
        .form-control {
            margin-bottom: 5px;
        }
        .selecionado {
            background: yellow;
        }
        .negrito {
            font-weight: bold;
        }