<html ng-app="listaTelefonica">
    <head>
        <meta charset="UTF-8">
        <title>Lista telefônica</title>
        <link rel="stylesheet" type="text/css" href="lib/css/bootstrap/css/bootstrap.css">
        <style>
        .jumbotron {
            width: 600px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .table {
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
        }
        .form-control {
            margin-bottom: 5px;
        }
        .selecionado {
            background: yellow;
        }
        .negrito {
            font-weight: bold;
        }
    </style>
        <script src="lib/js/angular.min.js"></script>
        <script src="lib/js/angular-messages.min.js"></script>
        <script src="lib/js/angular-locale_pt-br.js"></script>
        <script >
            angular.module("listaTelefonica", ['ngMessages']);
            angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope, $http) {
                 $scope.contatos = [];
                $scope.app = "Lista Telefonica";

                $http.get('http://localhost:8000/contatos').success(function (data, status) {
                        $scope.contatos = data;
                });

                $http.get('http://localhost:8000/operadoras').success(function (data, status) {
                        $scope.operadoras = data;
                });

                //carregarOperadoras();
                $scope.adicionaContato = function (contato) {
                    contato.data = new Date();
                    $http.post('http://localhost:8000/contatos', contato).success(function (data, status) {
                        delete $scope.contato;
                        $scope.contatoForm.$setPristine();
                        $scope.contatos.push(data);
                    }).error(function (err, status) {
                         $scope.postErrorMessage =  "Erro ao salvar contato: " + err + ". Status: " + status;
                    });
                };

                $scope.excluiContatos = function (contatos) {
                    $scope.contatos = contatos.filter(function (contato) {
                        if (!contato.selecionado)
                        {
                            return contato
                        }
                    });
                };

                $scope.isContatoSelecionado = function (contatos) {
                    return contatos.some(function (contato) {
                        return contato.selecionado;
                    });
                };

                $scope.ordenarPor  = function (campo) {
                    $scope.criteria = campo;
                    $scope.desc = !$scope.desc;
                }
            });

        </script>
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
                <h3>{{app}}</h3>
                <input class="form-control" ng-model="criterioDeBusca" placeholder="O que você está procurando?">
                <table ng-show="contatos.length > 0" class="table table-striped">
                    <tr>
                        <th></th>
                        <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                        <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                        <th>Operadora</th>
                        <th>Data de inclusão</th>
                        <th></th>
                    </tr>
                    <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: criterioDeBusca | orderBy: criteria:desc">
                        <td>
                            <input type="checkbox" ng-model="contato.selecionado" />
                        </td>
                        <td>{{contato.nome | uppercase}}</td>
                        <td>{{contato.telefone}}</td>
                        <td>{{contato.operadora.nome | lowercase}}</td>
                        <td>{{contato.data | date:'dd/MM/yyyy hh:mm'}}</td>
                        <td>
                            <div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div>
                        </td>
                    </tr>
                </table>
                <hr />
                {{postErrorMessage}}
                <form name="contatoForm">
                    <input placeholder="Nome" class="form-control" type="text" ng-model="contato.nome" name="nome" ng-required="true" ng-minlength="10" />
                    <input placeholder="Telefone" class="form-control" type="text" ng-model="contato.telefone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
                    <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ')'   for operadora in operadoras | orderBy: 'nome'">
                        <option value="">Selecione uma operadora</option>
                    </select>
                    <button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid" ng-click="adicionaContato(contato)">Adicionar Contato</button>
                    <button class="btn btn-danger btn-block" ng-if="isContatoSelecionado(contatos)" ng-click="excluiContatos(contatos)">Apagar Contatos</button>
                </form>

                <div ng-messages="contatoForm.nome.$error && contatoForm.nome.$dirty" class="alert alert-danger">
                    <div ng-message="required">Preencha o nome</div>
                    <div ng-message="minlength">Campo com  10 chars no mínimo</div>
                </div>
                <div ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
                    <div ng-message="required">preencha o telefone</div>
                    <div ng-message="pattern">Telefon no fomato DDDD-DDDD ou DDDDD-DDDD</div>
                </div>
        </div>
        <div ng-include="'footer.html'"></div>
    </body>
</html>